VITE_APPWRITE_ENDPOINT=
VITE_APPWRITE_PROJECT_ID=
VITE_APPWRITE_DATABASE_ID=
VITE_APPWRITE_COLLECTION_PROFILES=
VITE_APPWRITE_COLLECTION_INTENTIONS=
VITE_APPWRITE_COLLECTION_HABITS=
VITE_APPWRITE_COLLECTION_HABIT_LOGS=
VITE_APPWRITE_COLLECTION_SYSTEMS=
VITE_APPWRITE_COLLECTION_WORK_SESSIONS=
